@import url("https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

@theme {
  --font-geom: "Geom", "Poppins", sans-serif;
}
body {
  font-family: "Poppins", sans-serif;
}
button {
  cursor: pointer;
}
